{% load avatar_tags %}

{% with avatar=request.user|get_user_avatar %}

{% if avatar %}

    <div
        style="
            width:40px;
            height:40px;
            overflow:hidden;
            border-radius:50%;
            flex-shrink:0;
        "
    >

        {% include "core/components/avatar/avatar_display.html" with avatar=request.user.avatar navbar=True %}

    </div>

{% else %}

    <div
        class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center"
        style="
            width:40px;
            height:40px;
        "
    >

        <i class="fas fa-user"></i>

    </div>

{% endif %}

{% endwith %}