<div class="avatar-render avatar-render--{{ size|default:'md' }} avatar-skin-{{ config.skin }} avatar-hair-{{ config.hair }} avatar-hair-color-{{ config.hair_color }} avatar-eyes-{{ config.eyes }} avatar-mouth-{{ config.mouth }} avatar-outfit-{{ config.outfit }} avatar-accessory-{{ config.accessory }} avatar-background-{{ config.background }} avatar-expression-{{ config.expression }}">
    <div class="avatar-render__background"></div>
    <div class="avatar-render__skin"></div>
    <div class="avatar-render__hair"></div>
    <div class="avatar-render__eyes">
        <span class="avatar-eye avatar-eye--left"></span>
        <span class="avatar-eye avatar-eye--right"></span>
    </div>
    <div class="avatar-render__mouth"></div>
    <div class="avatar-render__outfit"></div>
    <div class="avatar-render__accessory"></div>
</div>