{% extends "core/base.html" %}

{% block content %}

<div class="container py-5">

    {% if user.role == "teacher" %}

        <h1>Teacher Profile</h1>

    {% elif user.role == "school_admin" %}

        <h1>School Admin Profile</h1>

    {% elif user.role == "student" %}

        <h1>Student Profile</h1>

    {% else %}

        <h1>User Profile</h1>

    {% endif %}

    <p>
        Username: {{ user.username }}
    </p>

    <p>
        Email: {{ user.email }}
    </p>

</div>

{% endblock %}