{% extends "core/base_teacher.html" %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Community Forum</h1>
            <p class="lead">This is a placeholder for the Teacher Community Forum. Here, teachers will be able to discuss, share resources, and connect with each other.</p>
            <div class="alert alert-info mt-4">
                <i class="fas fa-comments fa-2x mb-2"></i><br>
                Forum features coming soon!
            </div>
        </div>
    </div>
</div>
{% endblock %}
